

html {
    height: 100%;
}

body {
    height: 100%;
}

svg {
    min-height: 100%;
    overflow: visible;
}



.element, .inlineElement {
  stroke: #17301D;
  stroke-width: 2px;
}

.element {
  fill: #017e66;
}

.inlineElement {
  fill: #999999;
}

svg text {
  fill:#eeeeee;
  text-anchor:middle;
  font: bold 24px sans-serif;
  box-sizing: border-box;
}

.arrowPath {
  stroke: #6666ff;
  stroke-width: 2px;
  fill: none;
}

.arrow {
    fill:#6666ff;
}

.circle {
    stroke:none;
    fill:#111111;
}
